import { Module } from '@nestjs/common';
import { RouterModule } from "@nestjs/core";

@Module({
  imports: [
    // TestModule,
    // RouterModule.register([
    //   {
    //     path: '/test',
    //     module: TestModule
    //   }
    // ])
  ]
})
export class AppModule {}
